markers = #{raw @hash};
infoWindowContent = #{raw @info};
$(".list").removeClass('active');
$('.category-title').html("#{@breadcrumb}");
$(".list .tags").empty();
$("#list_#{@list.id}").addClass('active');
$("#list_#{@list.id} .tags").html("#{j render :partial=>'shared/tag', :collection=>@tags, :as => :tag}");
$('#current-listings').html("#{j render @listings}");
setMapOnAll(null);
showMarkers();
window.history.pushState("object or string", "#{@title}", "#{@url}");
