console.log('test');
markers = #{raw @hash};
infoWindowContent = #{raw @info};
$('.category-title').html("#{@breadcrumb}");
$('#current-listings').html("#{j render @listings}");
$('#category-lists').html("#{j render @lists}");
window.history.pushState("object or string", "#{@title}", "#{@url}");
setMapOnAll(null);
showMarkers();
console.log('tester');
