.row
  .large-12.columns
    Total count:
    =@count
.row
  .large-8.columns
    %h3 Approve Listings
    -Listing.inactive.order(title: :asc).each do |listing|
      %hr
      %div{:id=>"listing-#{listing.id}"}
        =render :partial=> 'listings/basic_listing', :locals => {listing: listing}
        =link_to 'approve', approve_listing_path(listing), :remote => :true, :confirm => 'you sure?'
        &nbsp|&nbsp
        =link_to 'delete', listing_path(listing), :method => :delete, :remote => :true, :confirm => 'you sure you want to delete'
        &nbsp|&nbsp
        =link_to 'edit', edit_listing_path(listing), :confirm => 'you sure you want to delete'
        &nbsp|&nbsp
        =link_to 'view', "/map/listing/#{listing.slug}"
      %hr
      %br
  .large-4.columns
    %h3 Approve New Tags
    -ActsAsTaggableOn::Tag.where(:active=>:false).order(name: :asc).each do |tag|
      %div{:id=>"tag-#{tag.id}"}
        =tag.name
        =link_to 'approve', approve_new_tag_path(tag), :remote => :true, :confirm => 'you sure?'
        &nbsp|&nbsp
        =link_to 'delete', tag_path(tag), :method => :delete, :remote => :true, :confirm => 'you sure you want to delete'
  %hr
  .large-6.columns
    %h3 Approve Listing Tags
    -Listing.all.each do |l|
      -suggestions = l.tag_suggestions
      -if suggestions.count > 0
        -suggestions.each do |sug|
          %div{:id=>"tag-#{sug.id}"}
            =sug.name
            =link_to 'approve', approve_existing_tag_path(sug), :remote => :true, :confirm => 'you sure?'
            &nbsp|&nbsp
            =link_to 'delete', tag_suggestion_path(sug), :method => :delete, :remote => :true, :confirm => 'you sure you want to delete'
  .large-6.columns
    %h3 Approve New Lists
    -Category.all.each do |cat|
      -if cat.lists.pending.length > 0
        %h5.pending-title=cat.name
      .pending-lists
        -cat.lists.pending.each do |list|
          %div{:id=>"list-#{list.id}"}
            =list.name
            =link_to 'approve', approve_list_path(list), :remote => :true, :confirm => 'you sure?'
            &nbsp|&nbsp
            =link_to 'delete', list_path(list), :method => :delete, :remote => :true, :confirm => 'you sure you want to delete'
