.row.shadowed{:style=>'background-color: #ffffff;'}
  #filter-col.large-3.medium-3.small-12.columns

    %dl.dropdown
      #county-choices{:'data-val'=> @county.present? ? @county.county : nil}
      %dt
        %a
          %span=@county.present? ? @county.county : 'Choose a county'
      %dd
        %ul
          %li
            %a.county-select{:'data-county-slug'=>'all'}
              All

          -@counties.each do |cat|
            %li
              %a.county-select{:'data-county-slug'=>"#{cat.county}"}=cat.county
    %dl.dropdown
      #category-choices{:'data-val'=> @category.present? ? @category.slug : nil}
      %dt
        %a
          %span=@category.present? ? @category.name : 'Choose a category'
      %dd
        %ul
          %li
            %a.category-select{:'data-cat-slug'=>'all'}
              All

          -@categories.each do |cat|
            %li
              %a.category-select{:'data-cat-slug'=>"#{cat.slug}"}=cat.name

    #lists
      #list-choices{:'data-val'=> @list.present? ? @list.slug : nil}
      #category-lists
        -if @lists.present?
          =render @lists
      -if @category
        .show-list-suggestion{:"data-category-id"=>@category.id}
          + add a list

          .list-suggest
            %input{:type => 'text', :name => 'list'}
            .message
              enter to submit
  .large-9.medium-9.small-12.columns#map-area
    #map_wrapper
      #map_canvas.mapping
    #listings
      %h3.category-title=@breadcrumb
      #current-listings
        -if @listings.count > 0
          =render :partial => 'listings/listing', :collection => @listings, :as =>'listing'

:css
  #lists {
    float:left;
    margin: 10px 0px 0 8px;
    font-size: .9em;
  }
  #map_wrapper {
      height: 400px;

  }
  #map-area {
   background-color: #d8d8da;
   padding: 0px;
  }
  #listings {
      margin: 15px;

  }
  #map_canvas {
      width: 100%;
      height: 100%;
  }

%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
/ only if you need custom infoboxes

:javascript

  $(document).on('click', '.list-name', function() {
    $('#list-choices').data('val',$(this).parent().data('list-slug'));
    $.get('/listings/filter', {county:$('#county-choices').data('val'), category:$('#category-choices').data('val'), list:$('#list-choices').data('val')});


  });
  $(document).on('click', '.list-tag', function() {
    list = $(this).parent().parent();
    console.log(list.data('list-id'));
    var tag = $(this).data('tag-id');
    $.get('/list/'+list.data('list-slug')+'/tags/'+tag);

  });

  $('.menu-toggle').on('click', function() {
    $('#filter-col').toggleClass('active');
  })

  $(document).on('click', '.listing-title', function() {
    details = $(this).next();

    if(details.is(':visible')) {
      google.maps.event.trigger(infoWindow, 'closeclick');
    }
    else {
      google.maps.event.trigger(gmarkers[$(this).data('marker-id')], 'click');
    }
  });


  $(document).on('click', '.show-suggestion', function() {
    $(this).parent().parent().find('.tag-suggest').toggle();
    $(this).parent().parent().find('.tag-suggest').find('input').focus();
    $(this).find('input').focus();
    listing_id = $(this).data('listing-id')
    $(this).parent().parent().find('.tag-suggest').keypress(function(e) {
      if(e.which == 13) {
        $.get("#{suggest_existing_tag_path}", {list_id:listing_id , name: $(this).find('input').val()});
        $(this).find('input').val('');
      }
    });

  });
  $(document).on('click', '.show-list-suggestion', function() {
    $(this).children('.list-suggest').show();
    $(this).find('input').focus();
    cat_id = $(this).data('category-id');
    $(this).children('.list-suggest').keypress(function(e) {
      if(e.which == 13) {
        $.get("#{create_list_path}", {cat_id:cat_id , name: $(this).find('input').val()});
        $(this).find('input').val('');
      }
    });

  });

  $('#search input').bind("enterKey",function(e){
     $.get('/search/'+$(this).val());
  });
  $('#search input').keyup(function(e){
      if(e.keyCode == 13)
      {
          $(this).trigger("enterKey");
      }
  });
  initialize();
  function setMapOnAll(map) {
    for (var i = 0; i < gmarkers.length; i++) {
      gmarkers[i].setMap(null);
    }
  }
  function showMarkers() {
    gmarkers = [];
    bounds = new google.maps.LatLngBounds(null);
    // Display multiple markers on a map

    for( i = 0; i < markers.length; i++ ) {
        console.log('sdfds');
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        gmarkers.push(marker);
        infoWindow = new google.maps.InfoWindow(), marker, i;
        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);

                $('.listing-info').hide();
                var dom_nodes = $($.parseHTML(infoWindow.content));
                $('#listing_'+dom_nodes.data('listing-id')).find('.listing-info').show();

                zoom = map.getZoom();
                map.setZoom(16);
            }
        })(marker, i));
        google.maps.event.addListener(infoWindow,'closeclick',function(){
          var dom_nodes = $($.parseHTML($(this)[0].content));
          $('#listing_'+dom_nodes.data('listing-id')).find('.listing-info').hide();
          infoWindow.close();
          map.setZoom(zoom);
          map.fitBounds(bounds);
        });

        // Automatically center the map fitting all markers on the screen

    }

    map.fitBounds(bounds);
    var listener = google.maps.event.addListener(map, "idle", function() {

      if(gmarkers.length == 1) {
        $('.listing-info').css('display','block');
        map.setZoom(16);
      }
      google.maps.event.removeListener(listener);
    });

  }

  function initialize() {


      mapOptions = {
          mapTypeId: 'roadmap'
      };

      // Display a map on the page
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      map.setTilt(45);

      // Multiple Markers
      markers = #{raw @hash};
      infoWindowContent = #{raw @info};

      // Loop through our array of markers & place each one on the map
      showMarkers();

  }

  function removeMarkers()
  {
      for (var i = 0; i < gmarkers.length; i++) {
          gmarkers[i].setMap(null);
      }
  }
   function hideIcon(self) {
      self.style.backgroundImage = 'none';
  }

:javascript
  $( document ).on('keyup','.autocomplete', function() {
      if($(this).val().length > 2) {
        $.get('/autocomplete/tags',{q:$(this).val()}, function(data) {
          $('.autocomplete-options').empty();
          $('.autocomplete-options').show();
          $.each(data, function(index,value) {
            console.log(index,value);
            $('.autocomplete-options').append('<div class="autocomplete-option">'+value.name+'</div>');
          });

        });
      }
      else {
        $('.autocomplete-options').empty();
        $('.autocomplete-options').hide();
      }
  });
  $( document ).on( 'click', '.autocomplete-option', function () {
    console.log($(this).closest('.tag-suggest').find('.tag-list'));
    list = $(this).closest('.tag-suggest').find('.tag-list');
    $.get("#{suggest_existing_tag_path}", {list_id:listing_id, name: $(this).text()});
    setTimeout(function(){
        $('.autocomplete').val('');
        $('.autocomplete').focus();

    }, 100);
  });
  $( document ).on( 'click', '.del', function (event) {
    $(event.target).parent().remove();

    str = '';
    $('#tag-list').find('.tag').each(function() {
      str += $(this).attr("value") + ',';
    });
    str = str.substring(0,str.length-1);
    $('#listing_tag_list').val(str);
    $('.autocomplete').focus();
  })
