.row.shadowed{:style=>'background-color: #ffffff;'}
  .large-3.columns
    %dl.dropdown
      %dt
        %a
          %span=@category.present? ? @category.name : 'Choose a category'
      %dd
        %ul
          %li
            %a.default

          -@categories.each do |cat|
            %li
              %a.category-select{:'data-cat-id'=>"#{cat.id}"}=cat.name

    #lists
      #category-lists
        -if @lists.present?
          =render @lists
  .large-9.columns#map-area
    #map_wrapper
      #map_canvas.mapping
    #listings
      %h3.category-title=@title
      #current-listings
        -if @listings.count > 0
          =render @listings

:css
  #lists {
    float:left;
    margin: 10px 0px 0 8px;
    font-size: .9em;
  }
  #map_wrapper {
      height: 350px;
      margin-left: 15px;
      margin-top: 10px;
      margin-right: 15px;

  }
  #map-area {
   background-color: #d8d8da;
  }
  #listings {
      margin: 35px;

  }
  #map_canvas {
      width: 100%;
      height: 100%;
  }

%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
/ only if you need custom infoboxes

:javascript
  $(document).on('click', '.list-name', function() {
    var selection = $(this).parent().data('list-id');
    $.get('/list/'+selection);

  });
  $(document).on('click', '.tag', function() {
    list = $(this).parent().parent();
    console.log(list.data('list-id'));
    var tag = $(this).data('tag-id');
    $.get('/list/'+list.data('list-id')+'/tags/'+tag);

  });

  $(document).on('click', '.listing-title', function() {

    $(this).next().toggle();
    $(this).toggleClass('expanded');


  });
  $(document).on('click', '.show-suggestion', function() {
    $(this).children('.tag-suggest').show();
    $(this).find('input').focus();
    listing_id = $(this).data('listing-id')
    $(this).children('.tag-suggest').keypress(function(e) {
      if(e.which == 13) {
        $.get("#{create_tag_path}", {list_id:listing_id , name: $(this).find('input').val()});
        $(this).find('input').val('');
      }
    });

  });

  $('#search input').bind("enterKey",function(e){
     $.get('/search/'+$(this).val());
  });
  $('#search input').keyup(function(e){
      if(e.keyCode == 13)
      {
          $(this).trigger("enterKey");
      }
  });
  initialize();
  function setMapOnAll(map) {
    for (var i = 0; i < gmarkers.length; i++) {
      gmarkers[i].setMap(null);
    }
  }
  function showMarkers() {
    gmarkers = [];

    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        gmarkers.push(marker);
        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen

    }
    map.fitBounds(bounds);
    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        if (map.getZoom() > 14) map.setZoom(14);
        google.maps.event.removeListener(boundsListener);
    });
  }
  function initialize() {

      bounds = new google.maps.LatLngBounds();
      mapOptions = {
          mapTypeId: 'roadmap'
      };

      // Display a map on the page
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      map.setTilt(45);

      // Multiple Markers
      markers = #{raw @hash};
      infoWindowContent = #{raw @info};


      // Loop through our array of markers & place each one on the map
      showMarkers();

  }
   function hideIcon(self) {
      self.style.backgroundImage = 'none';
  }

:javascript
  $( document ).on('keyup','.autocomplete', function() {
      if($(this).val().length > 2) {
        $.get('/autocomplete/tags',{q:$(this).val()}, function(data) {
          $('.autocomplete-options').empty();
          $('.autocomplete-options').show();
          $.each(data, function(index,value) {
            console.log(index,value);
            $('.autocomplete-options').append('<div class="autocomplete-option">'+value.name+'</div>');
          });

        });
      }
      else {
        $('.autocomplete-options').empty();
        $('.autocomplete-options').hide();
      }
  });
  $( document ).on( 'click', '.autocomplete-option', function () {
    console.log($(this).closest('.tag-suggest').find('.tag-list'));
    list = $(this).closest('.tag-suggest').find('.tag-list');
    $.get("#{suggest_existing_tag_path}", {list_id:listing_id, name: $(this).text()});
    setTimeout(function(){
        $('.autocomplete').val('');
        $('.autocomplete').focus();

    }, 100);
  });
  $( document ).on( 'click', '.del', function (event) {
    $(event.target).parent().remove();

    str = '';
    $('#tag-list').find('.tag').each(function() {
      str += $(this).attr("value") + ',';
    });
    str = str.substring(0,str.length-1);
    $('#listing_tag_list').val(str);
    $('.autocomplete').focus();
  })
