markers = #{raw @hash};
infoWindowContent = #{raw @info};
$('#category-title').html("<h3>#{@category.name}</h3>");
$('#category-lists').html("#{j render @lists}");
$('#listings').html("#{j render @listings}");
setMapOnAll(null);
showMarkers();
