markers = #{raw @hash};
infoWindowContent = #{raw @info};
$('.category-title').html("#{@breadcrumb}");
$('#category-lists').html("#{j render @lists}");
$('#current-listings').html("#{j render @listings}");
window.history.pushState("object or string", "#{@title}", "#{@url}");
setMapOnAll(null);
showMarkers();
