markers = #{raw @hash};
infoWindowContent = #{raw @info};
$('.category-title').html("#{@title}");
$('#category-lists').html("#{j render @lists}");
$('#current-listings').html("#{j render @listings}");
setMapOnAll(null);
showMarkers();
