!!! 5
%html{ :lang => "en"}
  %head{:prefix => "og: http://ogp.me/ns#"}
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title Sustainable Finger Lakes

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA_C7hQIHn3LK83BsLKrcMLN069o3u7j0M&v=3.13&sensor=false&libraries=places,geometry"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag
    =yield :head


  %body

    .row#header.shadowed
      .large-12.columns
        #header-img=image_tag('header.png')
    .row#menu-bar.shadowed{:style=>'text-align:center; color: white;font-size: 1.1em;padding-top: 4px;'}
      Join us in making a resilient economy, stronger democracy & healthier regional ecosystem
    #content
      =yield
    .row#about.shadowed
      .large-12.columns
        %p<
          People are coming together across our region to relocalize the economy, to make our systems of local governance more just and democratic, and to protect our land, air, and water for future generations.  Our shared goal is to assure a future landscape in which all of us can thrive, despite the many changes underway.  This is a map of the sustainability and democracy movement in the Finger Lakes Region.  Use this Map to discover the creative and the compassionate, the solidarity builders and the self-reliant, the pioneers and the protectors of a sustainable future.
          %b Add
          what you are working on.
          %b Plug
          in where you can make a difference.
          %b Spread
          the word and share with others!
      .large-12.columns{:style=>'text-align:center; text-transform:uppercase;'}
        %h5 sponsored by
      .large-4.columns
        =image_tag('sponsor3.jpg')
      .large-4.columns
        =image_tag('sponsor2.jpg')
      .large-4.columns
        =image_tag('sponsor1.jpg')
    =render :partial => 'shared/footer'
